trigger: none
pr: none

resources:
  pipelines:
    - pipeline: source
      source: ubuntu-desktop.2404-lts-ubuntu.vmware

stages:
  - template: ../../stages.yml
    parameters:
      sample: development-ubuntu
      image: "2404"
      provider: vmware
