trigger: none
pr: none

resources:
  pipelines:
    - pipeline: source
      source: ubuntu-server--2204-lts--hyperv

stages:
  - template: ../../stages.yml
    parameters:
      sample: docker-linux
      image: community-ubuntu-server
      provider: hyperv
