trigger: none
pr: none

resources:
  pipelines:
    - pipeline: source
      source: ubuntu-desktop.2204-lts-ubuntu.qemu

stages:
  - template: ../../stages.yml
    parameters:
      sample: development-ubuntu
      image: "2204"
      provider: qemu
